<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="shopping-cart-export" frontName="shopping-cart-export">
            <module name="Born_ShoppingCartExport" />
        </route>
    </router>
</config>
